.container {
	margin-left:15%;
	margin-right:15%;
	border:1px solid black;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}


.slant1 {
	padding:6% 0%;
	background: #212a52;
	transform: skew(0deg, -4deg) translateY(-130px);
	color:goldenrod;

}

.slant2 {
	padding:9%;
	background: #bf9a77;
	transform: skew(0deg, -4deg) translateY(-130px);
}

.slant3 {
	padding:9%;
	background:#877e70;
	transform: skew(0deg, -4deg) translateY(-130px);
}

.slant4 {
	padding:9%;
	background: #d2fa9d;
	transform: skew(0deg, -4deg) translateY(-130px);
}

.slant5 {
	padding:9%;
	background: #93bfad;
	transform: skew(0deg, -4deg) translateY(-130px);
}

.slant6 {
	padding:9%;
	background: #faa0a0;
	transform: skew(0deg, -4deg) translateY(-130px);
}

.slant7 {
	padding:9%;
	background: #8cdeff;
	transform: skew(0deg, -4deg) translateY(-130px);
}

.slant8 {
	padding:9%;
	background: #bfa7c7;
	transform: skew(0deg, -4deg) translateY(-130px);
}

.slant9 {
	padding:9%;
	background:#cfcdca;
	transform: skew(0deg, -4deg) translateY(-130px);
}

.top-box {
	transform:skew(0deg, 4deg);
	padding-left:35%;
	padding-top:15%;
}

#icon {
	margin-right: 25%;
	margin-left: 15%;
	padding-top:5%;
	padding-bottom:5%;
	font-size:2em;

}

.bottom-box {
	transform: skew(0deg, 4deg);
	margin:0 25%;
}

#inline {
	display:inline-block;
}

p {
	font-size:1em;
	display:inline-block;
}
h2{
	font-size:1.5em;
	display: inline;
}
h4{
	display: inline;
}

.box {
	transform: skew(0deg, 4deg);
	margin:0 20%;
	line-height:24px;
}

.top-box h1 {
	font-size:3em;
	padding-top:5%;

}
.tab {
	width:100%;
}
#first {
	font-size:4em;
	font-family: 'Great Vibes', cursive;
}